@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-gray-700;
}

::-webkit-scrollbar-thumb {
  @apply bg-pink-400 dark:bg-blue-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-pink-500 dark:bg-blue-500;
}

/* Asegurarse de que el scrollbar esté siempre visible y a la derecha */
html {
  overflow-y: scroll;
  direction: ltr;
}

/* Aquí puedes agregar estilos globales adicionales si es necesario */
