@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #55CDFC 33.33%, #FFFFFF 33.33% 66.66%, #F7A8B8 66.66%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #44BCEB 33.33%, #EEEEEE 33.33% 66.66%, #E697A7 66.66%);
}

/* Modo oscuro para el scrollbar */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #2d3748;
  }
}

/* Aquí puedes agregar estilos globales adicionales si es necesario */
