.container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-attachment: fixed;
  transition: background-color 0.3s ease, background-image 0.3s ease;
}

.containerLight {
  background-color: rgba(255, 255, 255, 0.9); /* Aumentamos la opacidad para un fondo más blanco */
  background-blend-mode: normal; /* Cambiamos a 'normal' para un efecto más limpio */
}

.containerDark {
  background-color: rgba(31, 41, 55, 0.55);
  background-blend-mode: screen;
}

.logo {
  /* Estilos comunes para el logo */
  transition: filter 0.3s ease;
}

/* Si necesitas estilos específicos para modo claro y oscuro, usa clases en lugar de imágenes diferentes */
.containerLight .logo {
  /* Estilos para el logo en modo claro */
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.5));
}

.containerDark .logo {
  /* Estilos para el logo en modo oscuro */
  filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.5));
}

.logoLight {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.logoDark {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5));
}